# Wails bin directory
build/bin

# IDEs
.idea
.vscode

# The black hole that is...
node_modules

.DS_Store

# Log files

*.log


gon-config.json

microsoft.system.package.metadata
*.msix

RiftShare.pkg

# Exclude Dist Directory
frontend/dist